:root {
    --standard-background: #17191b;
    --dark-emboss: #1a2038;
    --standard-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --purple-accent: #607DFF;
    --link-color: #879dff;
    --red-warning: #EF2929;
    --page-background: linear-gradient(to bottom, #17191b 55%, rgb(10, 5, 67));
    --featured-project-transition: all 0.15s linear;
    --project-page-gap: 24px;
}

.app {
    height: 100vh;
    text-align: left;
    font-size: 16px;
    color: white;
    background-color: var(--standard-background);
    overflow: auto;
}

.app-header {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--standard-background);
    background-image: url("images/star-background.png");
    background-image: url("images/star-background.png"), var(--page-background);
    background-repeat: repeat;
    background-position: center top;
}

.page {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar {
    position: relative;
    padding: 5px 9%;
    width: 100%;
    background-color: var(--standard-background);
    box-shadow: var(--standard-shadow);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10;
    border-bottom: solid 2px darkblue;
}

.nav-name-text {
    font-size: 24px;
    font-weight: 700;
    color: #7c7be2;
}

.nav-text-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.nav-text-button,
.nav-hamburger-button {
    padding: 0 12px;
    margin: 0;
    position: relative;
    color: #637cb8;
    background-color: transparent;
    height: 48px;
    width: fit-content;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav-text-button {
    display: block;
    font-size: 15px;
}

.nav-hamburger-button {
    display: none;
    font-size: 28px;
    padding-top: 4px;
}

.nav-text-button:hover,
.nav-hamburger-button:hover {
    color: #8ba4df;
}

.selected-nav-text-button {
    color: #eceef3;
}

.selected-nav-text-button:hover {
    color: #eceef3;
}

@media only screen and (max-width: 800px) {
    .nav-hamburger-button {
        display: block;
    }

    .nav-text-button {
        display: none;
    }
}

.nav-dropdown-menu {
    background-color: transparent;
    position: absolute;
    top: calc(100% + 2px);
    right: 9%;
    padding: 0px;
    width: 180px;
    z-index: 11;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-right: solid 2px darkblue;
    border-bottom: solid 2px darkblue;
    border-left: solid 2px darkblue;
    border-radius: 0px 0px 15px 15px;
    overflow: hidden;
}

.nav-dropdown-menu-option {
    background-color: var(--dark-emboss);
    color: white;
    margin: 0px;
    padding: 16px 24px;
    border: none;
    font-size: 16px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.nav-dropdown-menu-option:hover {
    background-color: rgb(76, 116, 236);
    border: none;
}

.app-footer {
    width: 100%;
    padding: 84px 9% 48px 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.featured-projects-header {
    position: relative;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #22b9f5;
    padding: 17px 27px;
    margin: 48px 0 40px 0;
    max-width: 75vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.featured-projects-header-top-left-corner,
.featured-projects-header-bottom-right-corner {
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url("images/feature-projects-header-corner.png");
}

.featured-projects-header-top-left-corner {
    top: 0;
    left: 0;
}

.featured-projects-header-bottom-right-corner {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

.featured-projects-container {
    position: relative;
    flex-direction: column;
    align-items: center;
}

.wide-featured-projects-container {
    display: flex;
}

.medium-featured-projects-container,
.small-featured-projects-container,
.smaller-featured-projects-container,
.smallest-featured-projects-container {
    display: none;
}

.featured-projects-row-buffer {
    width: 100px;
}

.featured-projects-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.featured-projects-row + .featured-projects-row {
    margin-top: -36px;
}

.featured-project {
    position: relative;
    height: fit-content;
    width: fit-content;
    margin: 0 10px;
}

.outer-hexagon,
.inner-hexagon {
    aspect-ratio: 1 / 1.1547005;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.outer-hexagon {
    position: relative;
    width: 180px;
    background-color: #9355f5;
    background-image: linear-gradient(30deg, #9355f5 45%, #509ffc);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: var(--featured-project-transition);
    -webkit-transition: var(--featured-project-transition); /** Chrome; Safari **/
    -ms-transition: var(--featured-project-transition); /** Opera **/
}

.inner-hexagon {
    width: calc(100% - 12px);
    background-color: var(--standard-background);
    margin-top: .5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: var(--featured-project-transition);
    -webkit-transition: var(--featured-project-transition); /** Chrome; Safari **/
    -ms-transition: var(--featured-project-transition); /** Opera **/
}

.featured-project-logo {
    width: 70%;
    object-fit: cover;
    margin-bottom: 4%;
    transition: var(--featured-project-transition);
    -webkit-transition: var(--featured-project-transition); /** Chrome; Safari **/
    -ms-transition: var(--featured-project-transition); /** Opera **/
}

.hexagon-button {
    cursor: pointer;
}

.hexagon-button:hover .inner-hexagon {
    width: calc(100% - 16px);
    background-color: rgb(16, 18, 43);
}

.hexagon-button:hover .featured-project-logo {
    width: 85%;
}

.hexagon-button:hover + .featured-project-name-outer-container {
    opacity: 100%;
}

.hexagon-button:hover + .featured-project-name-outer-container .featured-project-name-inner-container {
    background-color: rgb(16, 18, 43);
}

.featured-project-name-outer-container {
    position: absolute;
    opacity: 0%;
    top: calc(100% - 36px);
    left: -10px;
    min-height: 50px;
    width: calc(100% + 20px);
    padding: 4.5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: linear-gradient(30deg, #9355f5 45%, #509ffc);
    border-radius: 12px;
    z-index: 5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: var(--featured-project-transition);
    -webkit-transition: var(--featured-project-transition); /** Chrome; Safari **/
    -ms-transition: var(--featured-project-transition); /** Opera **/
}

.featured-project-name-inner-container {
    width: 100%;
    padding: 12px 24px;
    background-color: var(--standard-background);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: var(--featured-project-transition);
    -webkit-transition: var(--featured-project-transition); /** Chrome; Safari **/
    -ms-transition: var(--featured-project-transition); /** Opera **/
}

@media only screen and (max-width: 964px) {
    .wide-featured-projects-container {
        display: none;
    }

    .medium-featured-projects-container {
        display: flex;
    }

    .small-featured-projects-container {
        display: none;
    }

    .smaller-featured-projects-container {
        display: none;
    }

    .smallest-featured-projects-container {
        display: none;
    }
}

@media only screen and (max-width: 764px) {
    .wide-featured-projects-container {
        display: none;
    }

    .medium-featured-projects-container {
        display: none;
    }

    .small-featured-projects-container {
        display: flex;
    }

    .smaller-featured-projects-container {
        display: none;
    }

    .smallest-featured-projects-container {
        display: none;
    }
}

@media only screen and (max-width: 664px) {
    .wide-featured-projects-container {
        display: none;
    }

    .medium-featured-projects-container {
        display: none;
    }

    .small-featured-projects-container {
        display: none;
    }

    .smaller-featured-projects-container {
        display: flex;
    }

    .smallest-featured-projects-container {
        display: none;
    }
}

@media only screen and (max-width: 564px) {
    .wide-featured-projects-container {
        display: none;
    }

    .medium-featured-projects-container {
        display: none;
    }

    .small-featured-projects-container {
        display: none;
    }

    .smaller-featured-projects-container {
        display: none;
    }

    .smallest-featured-projects-container {
        display: flex;
    }
}

.projects-list {
    margin: 32px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.project-container {
    width: 798px;
    max-width: 80%;
    height: fit-content;
    min-height: 290px;
    padding: 36px;
    border-style: none;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: var(--standard-shadow);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px 36px;
    background-color: var(--dark-emboss);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.project-container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.project-container-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.project-container-name {
    color: white;
    font-size: 26px;
    font-weight: 600;
    text-align: left;

}

.project-container-header .project-container-name {
    display: none;
    margin-left: 0;
    width: calc(100% - 126px); /*126px is based on width of logo and gap between header elements*/
}

.project-container-info .project-container-name {
    display: block;
    margin-left: 8px;
}

.project-container-features {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: var(--standard-background);
    padding: 32px;
    border-radius: 16px;
}

.project-features-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 8px 8px;
}

.project-container-split-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
}

.project-container-split-row .project-feature-row {
    width: calc(50% - 16px);
}

.project-skill {
    color: white;
    padding: 4px 16px;
    background-color: #22b9f5;
    border-radius: 50vh;
    box-shadow: var(--standard-shadow);
}

.project-feature-container {
    position: relative;
}

.project-feature {
    border-radius: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    box-shadow: var(--standard-shadow);
}

.project-feature-icon {
    padding: 6px;
    height: 18px;
    width: 18px;
}

.project-feature-popup-container {
    visibility: hidden;
    position: absolute;
    bottom: 100%;

    /* Next two lines combine to allow us to center an absolutely positioned child element to parent */
    left: 50%; /*positions left-side horizontally centered in parent element*/
    transform: translateX(-50%); /* moves element left by 50% of its own width */

    z-index: 2;
    width: max-content;
    background-color: transparent;
    padding: 0 0 8px 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.project-feature:hover + .project-feature-popup-container,
.feature-about-icon-container-pseudo-border:hover .project-feature-popup-container {
    visibility: visible;
}

.project-feature-popup {
    position: relative;
    width: fit-content;
    background-color: var(--dark-emboss);
    color: white;
    text-align: left;
    border-radius: 6px;
    padding: 8px;
    white-space: pre-line;
    border: solid 2px white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    filter: brightness(100%);
}

.project-feature-popup::after {
    --bump-size: 5px;

    content: "";
    position: absolute;
    top: 100%;
    right: calc(50% - var(--bump-size));
    margin-left: calc(-1 * var(--bump-size));
    border-width: var(--bump-size);
    border-style: solid;
    border-color: white transparent transparent transparent;
}

@media only screen and (max-width: 915px) {
    .project-container-header .project-container-name {
        display: block;
    }

    .project-container-info .project-container-name {
        display: none;
    }

    .project-container-header {
        width: 100%;
        padding-left: 12px;
    }

    .project-container-info {
        width: 100%;
    }
}

.sort-and-filters-section {
    margin-top: 56px;
    width: 778px;
    max-width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 24px;
}

.sort-section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 6px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.input-lead-text {
    font-size: 16px;
    margin: 0 0 6px 3px;
}

.input-warning {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}

.input-warning-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    color: var(--red-warning);
}

.input-warning-text {
    font-size: 16px;
    color: white;
}

.selection-input-container {
    position: relative;
    display: inline-block;
}

.selection-input {
    cursor: pointer;
    height: 40px;
    width: 180px;
    margin: 0px;
    padding: 5px 5px 5px 15px;
    background-color: var(--standard-background);
    box-sizing: border-box;
    border: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.selection-input-caret {
    color: white;
    font-size: 20px;
    margin-right: 4px;
    transition: transform .20s ease-in-out;
    -webkit-transition: transform .20s ease-in-out; /** Chrome; Safari **/
    -ms-transition: transform .20s ease-in-out; /** Opera **/
}

.rotated-selection-input-caret {
    -ms-transform: rotate(-180deg); /* IE 9 */
    -webkit-transform: rotate(-180deg); /* Safari */
    transform: rotate(-180deg);
}

.selection-options-container {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 6px;
    z-index: 1;
    width: 100%;
    background-color: #eef1f4;
    overflow: hidden;
    box-shadow: var(--standard-shadow);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.selection-options-container-displayed {
    visibility: visible;
}

.selection-option {
    padding: 10px;
    margin: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: left;
    border-radius: 8px;
    color: black;
}

.selection-option:hover {
    background-color: #9cacc6;
}

.toggle-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggle-header {
    color: white;
    font-size: 16px;
    margin-bottom: 6px;
}

.inactive-toggle-header {
    color: rgb(145, 149, 163);
}

.toggle-container {
    width: 56px;
    height: 28px;
    position: relative;
    display: inline-block;
    border: solid;
    border-color: rgb(145, 149, 163);
    border-radius: 28px;
}

.toggle-container:has(> input:checked) {
    border-color: white;
}
  
.hidden-element {
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
}
  
.toggle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--standard-background);
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear; /** Chrome; Safari **/
    -ms-transition: all 0.4s linear; /** Opera **/
    border-radius: 28px;
    cursor: pointer;
}
  
.toggle:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(145, 149, 163);
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear; /** Chrome; Safari **/
    -ms-transition: all 0.4s linear; /** Opera **/
    border-radius: 10px;
}
  
input:checked + .toggle {
    background-color: var(--purple-accent);
}

input:checked + .toggle::before {
    background-color: white;
}
  
input:focus + .toggle {
    box-shadow: 0 0 1px var(--purple-accent);
}
  
input:checked + .toggle:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.sort-direction-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    padding: none;
    margin: none;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    cursor: pointer;
}

.sort-direction {
    color: white;
    width: 20px;
    height: 20px;
}

.inactive-sort-direction {
    color: rgb(145, 149, 163);
}

.feature-filter-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.feature-filter-lead-text {
    font-size: 16px;
    margin: 0 0 6px 3px;
}

.feature-filter-button-container {
    position: relative;
    display: inline-block;
}

.feature-filter-button {
    cursor: pointer;
    height: 40px;
    width: 180px;
    margin: 0px;
    padding: 5px 5px 5px 15px;
    background-color: var(--standard-background);
    box-sizing: border-box;
    border: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 50vh;
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.feature-filter-button-caret,
.feature-filter-button-select-all {
    color: white;
    font-size: 20px;
    margin-right: 4px;
}

.feature-filter-button-caret {
    transition: transform .20s ease-in-out;
    -webkit-transition: transform .20s ease-in-out; /** Chrome; Safari **/
    -ms-transition: transform .20s ease-in-out; /** Opera **/
}

.rotated-feature-filter-button-caret {
    -ms-transform: rotate(-180deg); /* IE 9 */
    -webkit-transform: rotate(-180deg); /* Safari */
    transform: rotate(-180deg);
}

.feature-filter-options-container {
    visibility: hidden;
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    border: solid 2px white;
    border-radius: 10px;
    padding: 32px;
    z-index: 1;
    width: fit-content;
    background-color: var(--dark-emboss);
    box-shadow: var(--standard-shadow);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.feature-filter-options-container-displayed {
    visibility: visible;
}

.feature-filter-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.feature-filter-options-header {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 6px;
    text-decoration: underline;
}

.feature-filter-options-selectors {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.feature-filter-options-button-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.feature-filter-options-button-container {
    height: 40px;
    width: 122px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.feature-filter-select-all-button,
.feature-filter-clear-button,
.feature-filter-done-button {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.feature-filter-select-all-button,
.feature-filter-clear-button {
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    color: #4663e4;
    align-items: flex-start;
}

.feature-filter-select-all-button:hover,
.feature-filter-clear-button:hover {
    color: var(--purple-accent);
}

.feature-filter-done-button {
    height: 100%;
    width: 100%;
    background-color: var(--purple-accent);
    color: white;
    align-items: center;
    border-radius: 9px;
    box-shadow: var(--standard-shadow);
}

.feature-filter-done-button:hover {
    background-color: #738cff;
}

.projects-page-filter-underline {
    width: 845px;
    max-width: 90vw;
    height: 2px;
    background-color: #7c7be2;
    opacity: .6;
    margin: 52px 0 32px 0;
}

.contact-header {
    width: fit-content;
    max-width: 85vw;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contact-header-text {
    font-size: 56px;
    font-weight: 700;
    padding: 0 24px;
}

.contact-header-underline {
    height: 3px;
    width: 100%;
    margin-top: 6px;
    background-color: #7c7be2;
    opacity: .6;
}

.contact-subheader {
    width: 540px;
    max-width: 85vw;
    font-size: 20px;
    margin-top: 44px;
    margin-bottom: 44px;
    text-align: justify;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contact-form {
    margin: 0;
    padding: 0;
}

.contact-fieldset {
    width: 540px;
    max-width: 85vw;
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.text-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.text-input-lead-text {
    margin-bottom: 4px;
    font-size: 16px;
}

.text-input-field,
.textarea-input-field {
    width: 100%;
    padding: 10px 10px 10px 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #262e4f;
    color: white;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: solid 2px transparent;
}

.text-input-field-errored,
.textarea-input-field-errored {
    border-left-color: var(--red-warning);
}

.textarea-input-field {
    resize: none;
    height: 240px;
}

.text-input-field:focus,
.textarea-input-field:focus {
    outline: none;
}

.contact-submit-button-container {
    width: 540px;
    max-width: 85vw;
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}

.contact-submit-button {
    position: relative;
    padding: 10px 12px;
    margin-bottom: 64px;
    background-color: transparent;
    border: none;
    z-index: 1;
    cursor: pointer;
}

.contact-submit-button::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #7c7be2;
    z-index: -1;
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear; /** Chrome; Safari **/
    -ms-transition: all 0.25s linear; /** Opera **/
}

.contact-submit-button:hover::after {
    height: 100%;
}

.contact-submit-button-text {
    color: white;
    font-size: 20px;
    font-weight: 700;
    z-index: 2;
}

.contact-success-container {
    padding: 32px 72px;
    margin-bottom: 52px;
    max-width: 75vw;
    background-color: rgb(113, 217, 113);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 4px white;
    border-radius: 24px;
    box-shadow: var(--standard-shadow);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contact-success-icon {
    width: 96px;
    aspect-ratio: 1;
}

.contact-success-text {
    color: white;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 14px;
}

.contact-success-new-message-button {
    margin: 0;
    padding: 6px 9px;
    border: solid 4px white;
    border-radius: 6px;
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.contact-success-new-message-button:hover {
    background-color: rgb(33, 164, 33);
}

.about-row {
    width: 1260px;
    max-width: 85vw;
    margin: 72px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    gap: 96px 0;
    flex-wrap: wrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.about-blurb {
    width: 480px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-blurb-icon {
    width: 60%;
}

.about-blurb-text {
    font-size: 20px;
    margin-top: 32px;
    width: 100%;
    text-align: justify;
}

.about-knowledge {
    width: 620px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.about-knowledge-section {
    width: 620px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}

.about-knowledge-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-knowledge-header-text {
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding-left: 2px;
    padding-right: 12px;
}

.about-knowledge-header-underline {
    height: 3px;
    width: 100%;
    margin-top: 6px;
    background-color: #7c7be2;
    opacity: .6;
}

.about-knowledge-icon-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    gap: 12px;
}

.feature-about-icon-container-pseudo-border {
    width: 15%;
    aspect-ratio: 1;
    background-color: #9355f5;
    background-image: linear-gradient(30deg, #9355f5 45%, #509ffc);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.feature-about-icon-container {
    width: calc(100% - 6px);
    aspect-ratio: 1;
    background-color: var(--standard-background);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.feature-about-icon {
    height: 50%;
    width: auto;
}

.project-page-header {
    margin-top: 68px;
    padding: 0 24px;
    width: 960px;
    max-width: 85vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 64px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.project-logo-container {
    width: 180px;
}

.project-page-header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}

.project-page-title {
    color: white;
    font-size: 48px;
    font-weight: 700;
    text-align: start;
}

.project-page-abstract {
    color: white;
    font-size: 16px;
    font-style: italic;
}

.project-page-header-underline {
    height: 3px;
    width: 1040px;
    max-width: 90vw;
    margin-top: 40px;
    background-color: #7c7be2;
    opacity: .6;
}

.project-page-body {
    width: 960px;
    max-width: 85vw;
    margin-top: 42px;
    display: flex;
    flex-direction: column;
}

.project-page-overview {
    display: flex;
    flex-direction: column;
    gap: var(--project-page-gap);
}

.project-page-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.project-page-details-lead-text,
.project-page-description-header {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}

.project-page-details-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 8px 8px;
}

.project-page-languages-and-technologies {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.project-page-languages-and-technologies .project-page-details {
    width: calc(50% - 16px); /* The 16px is half of the gap */
}

.project-page-url-row,
.related-projects-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.project-page-url-header,
.related-projects-header {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.project-page-public-url-link {
    color: var(--link-color);
    font-size: 16px;
}

.project-page-private-url-link {
    color: white;
    font-size: 16px;
}

@media only screen and (max-width: 650px) {
    .project-page-header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }

    .project-page-header-text {
        gap: 18px;
    }

    .project-page-title {
        width: 100%;
        text-align: center;
    }

    .project-page-languages-and-technologies {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--project-page-gap);
    }

    .project-page-languages-and-technologies .project-page-details {
        width: fit-content;
    }
}

.related-projects-link {
    padding: 0;
    margin: 0;
    color: var(--link-color);
    font-size: 16px;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.project-page-description {
    margin-top: 24px;
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
}

.project-page-description-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.project-page-description-paragraph {
    color: white;
    font-size: 16px;
}

.project-page-screenshots-section {
    position: relative;
    width: 100%;
    height: fit-content;
    margin-top: 56px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.project-page-screenshot-carousel {
    position: relative;
    width: 960px;
    max-width: 85vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.project-page-carouseled-screenshot-container {
    width: 18.75%;
    height: fit-content;
    margin: 0;
    padding: 0.65%;
    line-height: 0;
    border: none;
    box-shadow: var(--standard-shadow);
    background-color: white;
    filter: brightness(65%);
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.project-page-carouseled-screenshot-container:hover {
    filter: brightness(100%);
}

.project-page-screenshot {
    width: 100%;
    margin: 0;
    padding: 0;
}

.overlay-background {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
}

.project-page-screenshot-overlay {
    width: 880px;
    max-width: 80%;
    padding: calc(3.5% + 16px) calc(4% + 6px) calc(3% + 12px) calc(4% + 6px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-emboss);
    border-radius: 25px;
    box-shadow: var(--standard-shadow);
    cursor: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 21;
}

.project-page-screenshot-overlay-main-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(2% + 12px);
}

.project-page-selected-screenshot-container {
    flex: 1;
    margin: 0;
    padding: 0.65%;
    line-height: 0;
    box-shadow: var(--standard-shadow);
    background-color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.project-page-screenshot-rotate-button {
    width: 6%;
    min-width: 32px;
    aspect-ratio: 1;
    background-color: rgb(22, 0, 109);
    border: solid 3.5px var(--purple-accent);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    box-shadow: var(--standard-shadow);
}

.project-page-screenshot-rotate-button .icon {
    height: 90%;
    width: 90%;
    color: var(--purple-accent);
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-page-screenshot-rotate-button .push-right {
    padding-left: 5%;
}

.project-page-screenshot-rotate-button .push-left {
    padding-right: 5%;
}

.project-page-screenshot-rotate-button:hover {
    background-color: rgb(38, 12, 144);
    border-color: #738dff;
}

.project-page-screenshot-rotate-button:hover .icon {
    color: #738dff;
}

.project-page-screenshot-overlay-counter {
    margin-top: 12px;
    padding: 2px 18px 4px 18px;
    font-size: 16px;
    font-weight: 700;
    color: #6b82e7;
    background-color: transparent;
    border: solid 2px #0d1224;
    border-radius: 50vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.project-page-back-button {
    position: absolute;
    top: 36px;
    left: 36px;
    z-index: 10;
    margin: 0;
    padding: 6px 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border: solid 2px white;
    border-radius: 10px;
    background-color: var(--standard-background);
    box-shadow: var(--standard-shadow);
    cursor: pointer;
}

.project-page-back-button-icon {
    color: white;
}

.project-page-back-button-text {
    color: white;
}