:root {
    --standard-background: #17191b;
    --featured-project-transition: all 0.15s linear;
}

.app {
    height: 100vh;
    text-align: left;
    font-size: 16px;
    color: white;
    background-color: var(--standard-background);
    overflow: auto;
}

.app-header {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--standard-background);
    background-image: url("images/star-background.png");
    background-repeat: repeat;
    background-position: center top;
}

.navbar {
    padding: 5px 9%;
    width: 100%;
    background-color: var(--standard-background);
    box-shadow: var(--standard-shadow);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10;
    border-bottom: solid 2px darkblue;
}

.nav-name-text {
    font-size: 24px;
    font-weight: 700;
    color: #7c7be2;
}

.nav-text-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.nav-text-button {
    padding: 0 12px;
    margin: 0;
    position: relative;
    color: #637cb8;
    background-color: transparent;
    height: 48px;
    width: fit-content;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

.nav-text-button:hover {
    color: #8ba4df;
}

.selected-nav-text-button {
    color: #eceef3;
}

.selected-nav-text-button:hover {
    color: #eceef3;
}

.featured-projects-header {
    font-size: 40px;
    font-weight: 700;
    color: #22b9f5;
    margin: 64px 0 40px 0;
}

.featured-projects-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: calc(180px * 2 * 1.1547005 - 36px);
}

.top-featured-projects-row,
.bottom-featured-projects-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.top-featured-projects-row {
    position: absolute;
    top: 0;
}

.bottom-featured-projects-row {
    position: absolute;
    bottom: 0;
}

.featured-project {
    position: relative;
    height: fit-content;
    width: fit-content;
    margin: 0 10px;
}

.outer-hexagon,
.inner-hexagon {
    aspect-ratio: 1 / 1.1547005;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.outer-hexagon {
    position: relative;
    width: 180px;
    background-color: #9355f5;
    background-image: linear-gradient(30deg, #9355f5 45%, #509ffc);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: var(--featured-project-transition);
    -webkit-transition: var(--featured-project-transition); /** Chrome; Safari **/
    -ms-transition: var(--featured-project-transition); /** Opera **/
}

.inner-hexagon {
    width: calc(100% - 12px);
    background-color: var(--standard-background);
    margin-top: .5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: var(--featured-project-transition);
    -webkit-transition: var(--featured-project-transition); /** Chrome; Safari **/
    -ms-transition: var(--featured-project-transition); /** Opera **/
}

.featured-project-logo {
    width: 70%;
    object-fit: cover;
    margin-bottom: 4%;
    transition: var(--featured-project-transition);
    -webkit-transition: var(--featured-project-transition); /** Chrome; Safari **/
    -ms-transition: var(--featured-project-transition); /** Opera **/
}

.outer-hexagon:hover .inner-hexagon {
    width: calc(100% - 16px);
    background-color: rgb(16, 18, 43);
}

.outer-hexagon:hover .featured-project-logo {
    width: 85%;
}

.outer-hexagon:hover + .featured-project-name-outer-container {
    opacity: 100%;
}

.outer-hexagon:hover + .featured-project-name-outer-container .featured-project-name-inner-container {
    background-color: rgb(16, 18, 43);
}

.featured-project-name-outer-container {
    position: absolute;
    opacity: 0%;
    bottom: -10px;
    left: -10px;
    height: 50px;
    width: calc(100% + 20px);
    background-image: linear-gradient(30deg, #9355f5 45%, #509ffc);
    border-radius: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: var(--featured-project-transition);
    -webkit-transition: var(--featured-project-transition); /** Chrome; Safari **/
    -ms-transition: var(--featured-project-transition); /** Opera **/
}

.featured-project-name-inner-container {
    width: calc(100% - 9px);
    height: calc(100% - 9px);
    background-color: var(--standard-background);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    transition: var(--featured-project-transition);
    -webkit-transition: var(--featured-project-transition); /** Chrome; Safari **/
    -ms-transition: var(--featured-project-transition); /** Opera **/
}